:root {
  --bg-lightest: #1f1336;
  --bg: #05050f;
  --accent: #6131bd;
  --accent-rgb: 97, 49, 189;
  --bg-lighter: #100a1c;
  --bg-error: #371818;
  --accent-error: #ff5858;

  color: white;
  font-family: "Tahoma", "sans-serif";
}

body {
  padding: 0;
  margin: 0;

  background-color: var(--bg);
}
