.main {
  background-color: var(--bg);

  height: 100vh;
  width: 100vw;
  margin: 0;
}

.foreground {
  width: 100%;
  height: 100%;

  display: flex;

  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.workspace {
  display: flex;

  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;

  flex-grow: 1;
  flex-shrink: 1;
}

.postViewer.activePostViewer {
  opacity: 100%;
  pointer-events: auto;

  z-index: 3;
}

.postViewer {
  opacity: 0;
  transition: 0.1s;
  pointer-events: none;
}

@media screen and (max-width: 423px) {
  .workspace {
    padding-left: 0;
    padding-right: 0;

    margin-left: auto;
    margin-right: auto;

    flex-grow: 0;

    width: 95%;
  }
}
