.main {
  background-color: var(--bg);

  height: 100vh;
  width: 100vw;
  margin: 0;
}

.foreground {
  width: calc(100% - 4em);
  height: calc(100% - 2em);

  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;

  display: flex;

  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
