.drawerContainer {
  display: flex;

  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  z-index: 3;
}

.drawerContainer .loginDrawer {
  pointer-events: none;
}

.drawerContainer h4 {
  margin: 0;
}

.drawerContainer.active .loginDrawer {
  pointer-events: auto;
  display: flex;

  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.loginDrawer {
  margin-top: auto;

  display: none;
}

.drawerContainer.active {
  background-color: var(--bg-lighter);
}

.loginButton {
  display: flex;

  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  color: white;

  transition: 0.3s;
  padding: 0.5em;

  cursor: pointer;

  width: calc(100% - 1em);
}

.loginButton:hover {
  background-color: var(--bg-lightest);
}

.pageButton {
  display: flex;

  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  background-color: var(--bg-lighter);

  color: white;
}

.drawerContainer>*:last-child {
  margin-left: 0.5em;
}

.pageButton {
  transition: 0.3s;
  padding: 0.5em;

  cursor: pointer;
}

.pageButton p {
  white-space: nowrap;
}

.pageButton>*:first-child {
  margin-right: 0.5em;
}

.pageButton:hover {
  background-color: var(--bg-lightest);
}

.loginLabel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0.75em;
}

.loginLabel>* {
  margin: 0;
}

.loginActions {
  display: flex;

  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  opacity: 0;
  transition: 0.3s;
  cursor-events: none;
}

.loginActions.active {
  opacity: 100%;
  cursor-events: auto;
}

.userButton {
  color: rgba(255, 255, 255, 0.6);
  width: calc(100% - 1em);
}

.userButton p {
  text-align: end;
  margin: 0;
}

.userButton.active {
  font-weight: bold;
}

.userButtonContainer {
  display: flex;

  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  padding: 0.5em;
}

.userButtonContainer>*:last-child {
  opacity: 0.6;
}

.userButtonContainer>*:last-child:hover {
  opacity: 0.3;
}
