.section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.parentBody {
  border: 1px solid var(--accent);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  max-width: 100%;

  padding: 0.5em;
}

.parent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 100%;
}

.section p {
  margin: 0;
}

.replyIcon {
  opacity: 0.6;
}

.replyIcon:hover {
  opacity: 0.4;
}

.parentBody>*:not(:first-child) {
  margin-top: 0.5em;
}

.timestampRow {
  display: flex;

  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.timestampRow>*:not(:first-child) {
  margin-left: 0.5em;
}

.children {
  display: flex;

  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  width: calc(100% - 1em);

  padding-left: 1em;

  margin-top: 1.5em !important;

  position: relative;

  gap: 1.5em;
}

.section.compact>.children {
  padding-left: 0em;
}

.replyArea {
  margin-top: 1em !important;
  width: 100%;
}

.removeIcon {
  opacity: 0.6;
}

.removeIcon:hover {
  opacity: 0.4;
}

.section.compact>.children>.thread {
  display: none;
}

.thread {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  width: 1em;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.highlighted .parentBody {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5em;
}

.highlighted.compact {
  display: none;
}

.minimized {
  min-height: 20px;
}

.media {
  max-width: 100%;
}

.threadIcon {
  margin-left: 2em;
  width: 2px;
  height: 1em;
  background-color: var(--accent);
}

.inline {
  margin-top: 0em !important;
}

.compact>.children {
  width: 100%;
}
