.accounts {
  display: none;
}

.feed {
  display: flex;

  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  flex-grow: 1;
  overflow: auto;

  padding-bottom: 1em;
}

.feed>*:not(:first-child) {
  margin-top: 1em;
}

.grid {
  display: grid;

  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: 40vh;

  overflow: auto;

  gap: 1em;

  padding-bottom: 2em;
}

.gridHeader {
  display: flex;

  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  grid-column: 1 / 4;
  grid-row: 1 / 2;

  margin-top: 2em;
}

.gridHeader>*:last-child {
  margin-top: 0.5em;
}

@media screen and (max-width: 663px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .gridHeader {
    display: flex;

    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    grid-column: 1 / 3;
    grid-row: 1 / 2;

    margin-top: 2em;
  }
}

@media screen and (max-width: 547px) {
  .accounts {
    display: block;
    position: relative;

    min-height: 6em;

    z-index: 2;
  }

  .accounts>* {
    position: absolute;
  }
}
