.post {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  border-radius: 5px;
  border: 1px solid var(--accent);
  background-color: var(--bg-lighter);

  padding: 0.5em;
}

.post .postBody {
  height: 100%;
}

.postBody {
  flex-shrink: 1;
  min-height: 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: clip;

  position: relative;
}

.post .postBody:before {
  content: '';
  width: 100%;
  height: 20%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(transparent 5px, var(--bg-lighter));
}

.postBody h1, .postBody p {
  margin: 0;
}

.postBody>* {
  margin-bottom: 0.5em !important;
}

.authorLine {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.titleLine {
  display: flex;

  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  max-width: 100%;
}

.compact .titleLine h1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.tagList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.titleLineRight {
  display: flex;

  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  flex-grow: 1;
  gap: 0.5em;
}

.media {
  width: 100%;
  flex-grow: 1;
  align-self: center;
  transition: 0.3s;
  cursor: pointer;
}

.post.expanded {
  height: 100vh;
}

.media.expanded {
  display: block;
  width: 60%;
}

.commentViewButton {
  color: var(--accent);
  font-weight: bold;
  margin-top: auto;
}

.commentViewButton a {
  text-decoration: none;
  color: var(--accent);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.commentViewButton img {
  filter: var(--svg-accent);
  margin-right: 0.5em;
}

.blurred {
  filter: blur(40px);
}

.mediaContainer {
  overflow: clip;
  width: 30%;
  border-radius: 5px;

  position: relative;
}

.bigMediaContainer {
  overflow: clip;
  border-radius: 5px;

  position: relative;

  min-height: 0;
  flex-shrink: 1;
  flex-grow: 1;

  display: flex;

  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.hideIcon {
  height: 10%;
  width: 10%;

  padding: 0.5em;

  z-index: 2;

  background-color: var(--accent);
  border-radius: 5px;
}

.iconContainer {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  display: flex;

  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

.flex1 {
  flex: 1;
}

.authorSkeleton {
  width: 20%;
}

.dateSkeleton {
  width: 30%;
}

.imageSkeleton {
  flex-grow: 1;
}

.removeIcon {
  background-color: var(--accent-error);
  padding: 0.25em;
  border-radius: 5px;
}

.viewsLabel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25em;
}

.liveIcon {
  -webkit-animation-name: flash;
  animation-name: flash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes flash {
  0% { opacity: 0.3; }
  30% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0.3; }
}

@media screen and (max-width: 486px) {
  .titleLine h1 {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 827px) {
  .media {
    width: 100%;
  }
}
