.section {
  display: flex;

  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.loginDrawer {
  margin-top: auto;

  display: flex;

  flex-flow: column nowrap;
  justify-content: flex-start;
  aling-items: stretch;
}

.pageButton {
  display: flex;

  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  color: white;
}

.pageButton>*:last-child {
  margin-left: 0.5em;
}

.pageButton {
  transition: 0.3s;
  border-radius: 10000px;
  padding: 0.5em;
  padding-right: 7em;
  padding-left: 1.5em;

  cursor: pointer;
}

.pageButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.section a {
  text-decoration: none;
}

.loginLabel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0.75em;
}

.loginLabel>* {
  margin: 0;
}

.loginActions {
  display: flex;

  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  opacity: 0;
  transition: 0.3s;
  cursor-events: none;
}

.loginActions.active {
  opacity: 100%;
  cursor-events: auto;
}
